// keyframe animation 
@mixin animate {
    // animation 
    @keyframes Left {
        0%{transform: translateX(-800px);}
        100%{transform: translateX(0);opacity: 1;}
    }
    
    @keyframes Right {
        0%{transform: translateX(800px);}
        100%{transform: translateX(0);opacity: 1;}
    }

    @keyframes Top {
        0%{transform: translateY(1000px); opacity: 0;}
        100%{transform: translateY(0); opacity: 1;}
    }

    @keyframes Bottom {
        0%{transform: translateY(-800px);}
        100%{transform: translateY(0);opacity: 1;}
    }
    @keyframes rotates {
        0%{}
        100%{transform: rotate(360deg);}
    }
    .left {
        animation: Left 1s forwards;
    }
    .rotates {
        animation: rotates 8s infinite;
    }
    // end animation
}